<h1><%= @track.title %></h1>
<h3>from <%= link_to @track.album.title, @track.album %>
 by <%= link_to @track.artist.name, @track.artist %></h3>

<table>
   <tr>
      <th>Album:</th>
      <td><%= @track.album.title %></td>
   </tr>
   <tr>
      <th>Number:</th>
      <td><%= @track.ord %></td>
   </tr>
   <tr>
      <th>Bonus Track?</th>
      <td><%= @track.bonus? ? "Yes" : "No"  %></td>
   </tr>
</table>

<section class="lyrics">
   <h3>Lyrics<%= " - #{link_to "add lyrics", edit_track_url(@track)}".html_safe if @track.lyrics.empty? %></h3>
   <p><%= @track.lyrics %></p>
</section>
<%= button_to "Edit", edit_track_url(@track), method: "get" %>
<%= button_to "Delete", track_url(@track), method: "delete" %>

<section class="notes">
   <h3>Notes</h3>
   <%= render "notes/notes", notes: @track_notes %>
   <%= render "notes/form", track: @track %>
</section>
<% content_for :footer do %>
   <%= render "shared/nav", record_directory: [@track.artist, @track.album, @track] %>
<% end %>